.verify-text-tab {
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    margin: 0.5rem 0.5rem 1.25rem;
}

.collapsible-label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1rem;
}

.list {
    list-style-type: none;
    padding: 2rem;
    margin: 0;
}

.text-field-verifed-textTab-content {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 120px 0px 85px 35%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 20px
}

.add-block-btn-VerifyTextTab {
    background-color: #f4511e;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 100%;
    transition: all 0.75s;
    cursor: pointer;
    margin: 5px;
    width: 100%;
}

.add-block-btn-VerifyTextTab span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.add-block-btn-VerifyTextTab span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.add-block-btn-VerifyTextTab:hover span {
    padding-right: 25px;
}
  
.add-block-btn-VerifyTextTab:hover span:after {
    opacity: 1;
    right: 0;
}
