.VerifyImageTab {
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    margin: 0.5rem 0.5rem 1.25rem;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 125vh !important;
    height: 1vh !important;
}

.files input:focus{     
    outline: 2px dashed #92b0b3;  
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; 
    border:1px solid #92b0b3;
 }

.files{ position:relative}

.files:after {  
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 60px;
    right: 0;
    height: 56px;
    content: "";
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input{ 
    background-color:inherit;
    color:inherit;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: inherit;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.add-block-btn-VerifyImageTab {
    background-color: #f4511e;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 100%;
    transition: all 0.75s;
    cursor: pointer;
    margin: 5px;
    width: 100%;
}

.add-block-btn-VerifyImageTab span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.add-block-btn-VerifyImageTab span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.add-block-btn-VerifyImageTab:hover span {
    padding-right: 25px;
}
  
.add-block-btn-VerifyImageTab:hover span:after {
    opacity: 1;
    right: 0;
}
