.TextTab {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-evenly;
}

.floating-label-TextTab {
    position: relative;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 20px;
    margin: 20px 20px;
    max-width: 85vh;
}

.text-field-TextTab {
    transform: translate(1%, 0%);
    width: 99%;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 120px 0px 85px 35%;
    margin: 30px 30px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.add-block-btn-TextTab {
    background-color: #f4511e;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 100%;
    transition: all 0.75s;
    cursor: pointer;
    margin: 10px;
    width: 87vh;
}

.add-block-btn-TextTab span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.add-block-btn-TextTab span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.add-block-btn-TextTab:hover span {
    padding-right: 25px;
}
  
.add-block-btn-TextTab:hover span:after {
    opacity: 1;
    right: 0;
}

.form-container-TextTab {
    display: flex;    
    flex-direction: column;
}
