.links {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
    display: flex;
    justify-content: space-around;
	position: abs;
    align-items: center;
}

.links >  .link {
	color: #9ab;
	padding: .50em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
    list-style: none;
    text-align: center;
}

.links > .link:hover {
	background: #05228006;
	color: rgb(0, 153, 255);
	opacity: 80%;
}
