.links {
	background-color: rgb(8, 23, 37);
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 2px solid #0003;
	box-shadow: 0 0 16px #0003;
	font-size: 2em;
	font-weight: 300;
	width: 100%;
    display: flex;
}

.links >  .link {
	color: rgb(176, 211, 245);
	padding: .15em;
	text-decoration: none;
	transition: all .75s;
    text-align: center;
	width: 50vh;
	display: flex;
	justify-content: space-between;
}

.links > .link:hover {
	background: #033df806;
	color: rgb(255, 0, 170);
	opacity: 80%;
}
